<%= count.value %>

<form action="/increment" method="POST">
  <input type="hidden" name="name" value="<%= count.name %>"/>
  <input type="hidden" name="by" value="2"/>
  <button type="submit">increment</button>
</form>
